body {
    margin: 0;
    background-color: black;
}

header, .footer-banner {
    background-image: url("../img/Ching-Gradient-Background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    padding: 15px 0 15px 0;
}

.navbar-brand, .nav-item a {
    color: white;
    letter-spacing: .075rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border-radius: 5px;
}

.navbar-nav .nav-item:hover a:hover {
    background-color: white;
    color: black;
}

#nav-btn {
    border: 2px solid white;
}

.main-wrapper h2, .footer-banner h2 {
    letter-spacing: .125rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.main-wrapper {
    padding: 15px 0 45px 0;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.main-wrapper h1 {
    letter-spacing: 0.125rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 1.95rem;
    line-height: 1.25em;
}

.main-wrapper p {
    font-size: 18px;
}

.main-wrapper #join-form {
    margin-top: 50px;
}

.main-wrapper .input {
    padding: 25px 10px 25px 10px;
    background-color: rgba(255, 255, 255, 0);
    color: black;
    border: 2px solid white;
}

.main-wrapper .input::placeholder {
    color: black;
}

.main-wrapper-download, .footer-download {
    margin-top: -50px;
}

.main-btn {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-btn img {
    padding: 0;
    margin: 0;
}

.join-btn {
    color: #fff;
    font-size: 1rem;
    text-align: center;
    background-color: black;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid black;
    letter-spacing: .075rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.join-btn:hover {
    color: black;
    background-color: white;
    border: 2px solid black;
}

#about, #features, #networks, #roadmap, #team, #join, #main-footer {
    padding: 90px 0 0 0;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

#about .fab:hover {
    color: black;
    background-color: white;
    border: white;
}

.page-section hr {
    left: 0;
    background-color: #00AEAE;
    max-width: 20%;
    margin: 0;
    margin-bottom: 40px;
}

.page-title {
    color: #fff;
    font-size: 2.8rem;
    max-width: 500px;
    margin-bottom: 80px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: .125rem;
    padding-top: 15px;
}

.page-section article p {
    color: white;
    font-size: .9rem;
    line-height: 1.5rem;
}

p strong {
    color: #fff;
    font-weight: 500;
}

#about i {
    color: #fff;
    font-size: 1rem;
    text-align: center;
    margin-right: 0.5rem;
    background-color: #00AEAE;
    border: 1px solid #00AEAE;
    width: 40px;
    height: 40px;
    padding-top: 12px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

#features .page-title {
    margin-bottom: 3rem;
}

#features .card, #roadmap .card {
    min-height: 200px;
}

#features h4, #roadmap h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    color: white;
}

#features i, #roadmap .title-icon {
    color: #fff;
    font-size: 1rem;
    text-align: center;
    margin-right: 0.5rem;
    background-color: #00AEAE;
    border: 1px solid #00AEAE;
    width: 40px;
    height: 40px;
    padding-top: 12px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

#features ul {
    padding: 0;
}

.network-logo {
    text-align: center;
    height: 150px;
    width: auto;
    /* filter: invert(1); */
}

.sponsor {
    height: 150px;
}

.card {
    background-color: #414345;
    padding: 20px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

#roadmap {
    padding-bottom: 50px;
}

#roadmap h3 {
    font-size: 1.2rem;
    margin-bottom: 10px !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: .125rem;
}
#roadmap .card {
    padding: 40px 20px 30px 20px;
}

#roadmap article h3 {
    margin-bottom: 50px;
}
#roadmap article p {
    color: #a4b0be;
    font-size: .8rem;
    margin-bottom: 20px;
}
#roadmap article p i {
    font-size: .6rem;
    margin-right: .4rem;
}
#roadmap article p i.fa-check {
    color: #2ecc71;
    margin-right: .2rem;
}

/* Join Waitlist */
#join {
    padding-bottom: 80px;
}

#join .input {
    padding: 25px 10px 25px 10px;
    background-color: black;
    color: white;
    border: 2px solid white;
}

#join .input::placeholder {
    color: white;
}

#join .submit {
    color: #fff;
    font-size: 1rem;
    text-align: center;
    background-color: #00AEAE;
    padding: 12px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

#join .submit:hover {
    color: black;
    background-color: white;
}

#team article {
    padding: 40px 20px;
    text-align: center;
    min-height: 430px;
}

#team article img {
    max-width: 100px;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#team article h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: white;
}

#team article h4 {
    color: #00AEAE;
    font-size: 1rem;
    margin-bottom: 20px;
}

#team article p {
    font-size: .8rem;
}

#team article i {
    font-size: 1rem;
    color: #fff;
    margin: 0 .5rem;
}

/* FOOTER BANNER */
.footer-banner {
    padding: 15px 0 45px 0;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.footer-banner .page-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: .125rem;
    margin-bottom: 30px;
}
.footer-banner p {
    max-width: 600px;
}

.footer-banner .btn {
    margin-top: 40px;
}

footer a:hover {
    color: #fff!important;
}

.main-footer .social a i:hover{
    color: #00a8ff;
}

footer .copyright a:hover {
    color: #00a8ff;
}

.main-footer {
    padding: 45px 0 20px 0;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.main-footer article {
    margin-bottom: 20px;
}

.main-footer h3 {
    color: #fff;
    font-size: 1rem;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .075rem;
}
.main-footer hr{
    background-color: #666;
    width: 100%;
    margin-bottom: 30px;
}
.main-footer ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.main-footer ul li a{
    color: #a4b0be;
    font-size: .8rem;
}
.main-footer a{
    color: #fff;
}
.main-footer .social a i{
    font-size: 1rem;
    margin-right: .5rem;
}
.main-footer .copyright{
    padding-top: 5px;
    color: #a4b0be;
    text-align: right;
    font-size: .7rem;
}

@media only screen and (max-width: 768px) {
    .main-header {
        background-color: black;
    }

    .main-footer .social{
        text-align: center;
    }

    .main-footer .social a i{
        margin-right: 0;
        margin: 0 .2rem;
    }

    .main-footer .copyright{
        text-align: center;
        margin-top: 00px;
    }

    .main-wrapper {
        text-align: center;
    }

    .main-banner h1{
        font-size: 5rem;
    }

    .footer-banner .btn {
        margin-top: 20px;
    }

    .main-banner img{
        margin-top: 100px;
        max-height: 300px;
    }
}