body {
    margin: 0;
    background-color: white;
}

.navbar {
    padding: 15px 0 15px 0;
}

.navbar-brand, .nav-item a {
    color: black;
    letter-spacing: .075rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border-radius: 5px;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-circle {
    height: 150px;
    width: 150px;
    background-color: black;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-circle-letter {
    font-size: 5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white !important;
}

#panel {
    margin: 10px;
    padding: 35px;
    /* border: 1px solid gainsboro; */
    border-radius: 5px;
    box-shadow: 0 10px 50px gainsboro;
}

#panel p {
    margin: 0;
    color: grey;
}

.input-group-prepend .input-group-text, .input-group-append select, .input-group-append select:hover, .input-group-append .input-group-text {
    background-color: black;
    color: white;
    border-radius: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

textarea {
    border-radius: 0 !important;    
}

.accordion .card {
    border-width: 0 0 0px 0;
}

.accordion .card .card-header {
    background-color: white;
    margin-bottom: 0;
}

.accordion .card .card-header a {
    color: black;
    letter-spacing: .075rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.error {
    color: red !important;
}

.transfer-btn {
    color: #fff;
    font-size: 1rem;
    text-align: center;
    background-color: black;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid black;
    letter-spacing: .075rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.transfer-btn:hover {
    color: black;
    background-color: white;
    border: 2px solid black;
}