body {
    margin: 0;
    background-color: white;
}

header {
    background-image: url(../img/Ching-Gradient-Background.png);
    background-size: cover;
}

.navbar {
    padding: 15px 0 15px 0;
}

.navbar-brand, .nav-item a {
    color: white;
    letter-spacing: .075rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border-radius: 5px;
}

.ching-logo {
}

#panel {
    margin: 10px;
    padding: 35px;
    border-radius: 5px;
    box-shadow: 0 10px 50px gainsboro;
}

#panel img {
    background-image: url(../img/Ching-Gradient-Background.png);
    background-size: cover;
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

.social a {
    color: black;
}

/* FOOTER BANNER */
footer {
    background-color: black;
}

.footer-banner {
    padding: 15px 0 45px 0;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.footer-banner .page-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: .125rem;
    margin-bottom: 30px;
}
.footer-banner p {
    max-width: 600px;
}

.footer-banner .btn {
    margin-top: 40px;
}

footer a:hover {
    color: #fff!important;
}

.main-footer .social a i:hover{
    color: #00a8ff;
}

footer .copyright a:hover {
    color: #00a8ff;
}

.main-footer {
    padding: 45px 0 20px 0;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.main-footer article {
    margin-bottom: 20px;
}

.main-footer h3 {
    color: #fff;
    font-size: 1rem;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .075rem;
}
.main-footer hr{
    background-color: #666;
    width: 100%;
    margin-bottom: 30px;
}
.main-footer ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.main-footer ul li a{
    color: #a4b0be;
    font-size: .8rem;
}
.main-footer a{
    color: #fff;
}
.main-footer .social a i{
    font-size: 1rem;
    margin-right: .5rem;
}
.main-footer .copyright{
    padding-top: 5px;
    color: #a4b0be;
    text-align: right;
    font-size: .7rem;
}

@media only screen and (max-width: 768px) {
    .main-footer .social{
        text-align: center;
    }

    .main-footer .social a i{
        margin-right: 0;
        margin: 0 .2rem;
    }

    .main-footer .copyright{
        text-align: center;
        margin-top: 00px;
    }

    .main-wrapper {
        text-align: center;
    }

    .main-banner h1{
        font-size: 5rem;
    }

    .footer-banner .btn {
        margin-top: 20px;
    }

    .main-banner img{
        margin-top: 100px;
        max-height: 300px;
    }
}