body {
    margin: 0;
    background-color: white;
}

header {
    background-image: url(../img/Ching-Gradient-Background.png);
    background-size: cover;
}

.navbar {
    padding: 15px 0 15px 0;
}

.navbar-brand, .nav-item a {
    color: white;
    letter-spacing: .075rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border-radius: 5px;
}

.navbar-nav .nav-item:hover a:hover {
    background-color: white;
    color: black;
}

.ching-logo {
    height: 5rem;
}

.navbar-toggle {
    border: 2px solid white;
    background-color: black;
    border-color: black;
}

.page-section h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2rem;
}

.page-section h4 {
    font-family: 'Montserrat', sans-serif;
}

.page-section p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-circle {
    height: 150px;
    width: 150px;
    background-image: url(../img/Ching-Gradient-Background.png);
    background-size: cover;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-circle-letter {
    font-size: 5rem !important;
    font-weight: 600;
    color: white !important;
}

#panel {
    margin: 10px;
    padding: 35px;
    border-radius: 5px;
    box-shadow: 0 10px 50px gainsboro;
}

#panel p {
    margin: 0;
    color: grey;
}

.input-group-prepend .input-group-text, .input-group-append select, .input-group-append select:hover, .input-group-append .input-group-text {
    background-color: white;
    color: grey;
    border-radius: 0;
    border-right: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

#amount-input span {
    font-size: 20px;
    padding-right: 0px;
    border-right: none;
}

#amount-input input {
    font-size: 40px;
    border-left: none;
    padding-left: 0px;
}

#amount-input span, #amount-input input {
    color: grey;
}

textarea {
    border-radius: 0 !important;    
}

textarea::placeholder {
    font-family: 'Montserrat', sans-serif;
    color: grey;
}

.accordion .card {
    border: none
}

.accordion .card .card-header {
    background-color: white;
}

.accordion .card .card-header a {
    color: black;
    letter-spacing: .075rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.error {
    color: red !important;
}

.transfer-btn {
    color: #fff;
    font-size: 1rem;
    text-align: center;
    background-color: black;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid black;
    letter-spacing: .075rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.transfer-btn:hover {
    color: black;
    background-color: white;
    border: 2px solid black;
}

footer {
    background-color: black;
}

.footer-banner {
    padding: 15px 0 45px 0;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.footer-banner .page-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: .125rem;
    margin-bottom: 30px;
}
.footer-banner p {
    max-width: 600px;
}

.footer-banner .btn {
    margin-top: 40px;
}

footer a:hover {
    color: #fff!important;
}

.main-footer .social a i:hover{
    color: #00a8ff;
}

footer .copyright a:hover {
    color: #00a8ff;
}

.main-footer {
    padding: 45px 0 20px 0;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.main-footer article {
    margin-bottom: 20px;
}

.main-footer h3 {
    color: #fff;
    font-size: 1rem;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .075rem;
}
.main-footer hr {
    background-color: #666;
    width: 100%;
    margin-bottom: 30px;
}
.main-footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.main-footer ul li a {
    color: #a4b0be;
    font-size: .8rem;
}
.main-footer a{
    color: #fff;
}
.main-footer .social a i {
    font-size: 1rem;
    margin-right: .5rem;
}
.main-footer .copyright {
    padding-top: 5px;
    color: #a4b0be;
    text-align: right;
    font-size: .7rem;
}

@media only screen and (max-width: 768px) {
    .main-footer .social {
        text-align: center;
    }

    .main-footer .social a i {
        margin-right: 0;
        margin: 0 .2rem;
    }

    .main-footer .copyright {
        text-align: center;
        margin-top: 00px;
    }

    .main-wrapper {
        text-align: center;
    }

    .main-banner h1{
        font-size: 5rem;
    }

    .footer-banner .btn {
        margin-top: 20px;
    }

    .main-banner img{
        margin-top: 100px;
        max-height: 300px;
    }
}